@inherits LayoutComponentBase


<Layout>
    <Header class="header"  Style="position: fixed; z-index: 1; width: 100%; display:flex;align-content:center">
        <h1 style="font-size: large; color:white; align-self:center">
            What should I do?
        </h1>
    </Header>
    <Layout Style="height: 100vh;">
        <Sider Style="overflow: auto;height: 100vh;position: fixed;left: 0;" Theme="SiderTheme.Light">
            <div class="header" />
            <NavMenu/>
        </Sider>
        <Layout Class="site-layout" Style=" margin-left: 200px">
            <Content Style="margin: 24px 16px 0; overflow: initial; ">
                <div class="header" />
                @Body
            </Content>
            <Footer Style=" text-align: center;">Ant Design ©2018 Created by Ant UED</Footer>
        </Layout>
    </Layout>
</Layout>


<style>
    .header{
        height: 48px;
    }

    #components-layout-demo-fixed-sider .logo {
        height: 32px;
        background: rgba(255, 255, 255, 0.2);
        margin: 16px;
    }

    .site-layout .site-layout-background {
        background: #fff;
        min-height: 100vh;
    }
</style>

