@inject ApiService service

<Menu Theme="MenuTheme.Light" Mode="MenuMode.Inline" DefaultSelectedKeys=@(new[]{"4"})>
    <MenuItem Key="a" RouterLink="/counter">
        <Icon Type="user" Theme="outline" />
        <span class="nav-text">Counter</span>
    </MenuItem>
    <MenuItem Key="2">
        <Icon Type="video-camera" Theme="outline" />
        <span class="nav-text">General</span>
    </MenuItem>
    @if (lists == null)
    {
        <span>Loading...</span>
    }
    else
    {
        @foreach (var list in lists)
        {
            <MenuItem Key="@list.Id.ToString()" RouterLink="@list.Id.ToString()">
                <span class="nav-text">@list.Name</span>
            </MenuItem>
        }
    }

</Menu>

@code {
    private ICollection<ListDto> lists;

    protected async override Task OnInitializedAsync()
    {
        lists = await service.GetLists();
        await base.OnInitializedAsync();
    }

    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
